$themeColor: #20b8ff;
.custom-blue {
  .introduce .tbxs,
  .itemlist .listwrap .activeitem .iconbg,
  .qualityreport .nbjc .tpl,
  .qualityreport .fangda,
  .itemlist .listwrap .bd{
    background: $themeColor;
  }
  .itemlist .listwrap .activeitem {
    color: $themeColor;
  }
}