@font-face {
  font-family: "cjmIconFont";
  src: url('../fonts/iconfont.eot?t=1489642576938'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1489642576938#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1489642576938') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1489642576938') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1489642576938#cjmIconFont') format('svg'); /* iOS 4.1- */
  font-weight: normal;
  font-style: normal;
}

[class^="cjm-icon-"], [class*=" cjm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cjmIconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cjm-icon-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.cjm-icon-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cjm-icon-rotate-n90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.cjm-icon-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.cjm-icon-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .cjm-icon-rotate-90,
:root .cjm-icon-rotate-180,
:root .cjm-icon-rotate-n90,
:root .cjm-icon-flip-horizontal,
:root .cjm-icon-flip-vertical {
  filter: none;
}

.cjm-icon-home:before { content: "\e611"; }

.cjm-icon-caret-down:before { content: "\e64b"; }

.cjm-icon-question:before { content: "\e6a5"; }

.cjm-icon-circle:before { content: "\e605"; }

.cjm-icon-temperature:before { content: "\e629"; }

.cjm-icon-frost:before { content: "\e684"; }

.cjm-icon-pdf:before { content: "\e740"; }

.cjm-icon-rainfall:before { content: "\e63e"; }

.cjm-icon-time:before { content: "\e66d"; }

.cjm-icon-computer:before { content: "\e807"; }

.cjm-icon-relation:before { content: "\e635"; }

.cjm-icon-view:before { content: "\e636"; }

.cjm-icon-sort:before { content: "\e637"; }

.cjm-icon-setting:before { content: "\e639"; }

.cjm-icon-template:before { content: "\e63a"; }

.cjm-icon-unbox:before { content: "\e63b"; }

.cjm-icon-update:before { content: "\e63c"; }

.cjm-icon-stock-in:before { content: "\e63d"; }

.cjm-icon-stock-out:before { content: "\e63f"; }

.cjm-icon-active:before { content: "\e641"; }

.cjm-icon-user2:before { content: "\e642"; }

.cjm-icon-add2:before { content: "\e643"; }

.cjm-icon-address:before { content: "\e644"; }

.cjm-icon-close:before { content: "\e646"; }

.cjm-icon-add:before { content: "\e647"; }

.cjm-icon-confirm:before { content: "\e648"; }

.cjm-icon-configure:before { content: "\e64c"; }

.cjm-icon-audit:before { content: "\e64d"; }

.cjm-icon-copy:before { content: "\e64e"; }

.cjm-icon-detail:before { content: "\e650"; }

.cjm-icon-detail2:before { content: "\e651"; }

.cjm-icon-delete:before { content: "\e645"; }

.cjm-icon-box-add:before { content: "\e653"; }

.cjm-icon-disable:before { content: "\e654"; }

.cjm-icon-edit:before { content: "\e656"; }

.cjm-icon-input:before { content: "\e657"; }

.cjm-icon-trace-node:before { content: "\e658"; }

.cjm-icon-micropage:before { content: "\e65a"; }

.cjm-icon-map:before { content: "\e65b"; }

.cjm-icon-box:before { content: "\e65c"; }

.cjm-icon-label:before { content: "\e65d"; }

.cjm-icon-save:before { content: "\e65e"; }

.cjm-icon-pay:before { content: "\e65f"; }

.cjm-icon-reduce:before { content: "\e660"; }

.cjm-icon-enable:before { content: "\e661"; }

.cjm-icon-update-page:before { content: "\e662"; }

.cjm-icon-preview:before { content: "\e663"; }

.cjm-icon-update-id:before { content: "\e665"; }

.cjm-icon-reset:before { content: "\e666"; }

.cjm-icon-search:before { content: "\e667"; }

.cjm-icon-chevron-down:before { content: "\e664"; }

.cjm-icon-new-window:before { content: "\e668"; }

.cjm-icon-batch-import:before { content: "\e652"; }

.cjm-icon-batch-export:before { content: "\e655"; }

.cjm-icon-import:before { content: "\e669"; }

.cjm-icon-export:before { content: "\e66a"; }

.cjm-icon-separate:before { content: "\e66b"; }

.cjm-icon-selected:before { content: "\e66c"; }

.cjm-icon-change-password:before { content: "\e679"; }

.cjm-icon-image:before { content: "\e67a"; }

.cjm-icon-code-view:before { content: "\e659"; }

.cjm-icon-code-define:before { content: "\e67b"; }

.cjm-icon-print:before { content: "\e67c"; }

.cjm-icon-qrcode:before { content: "\e67e"; }

.cjm-icon-download:before { content: "\e67d"; }

.cjm-icon-news:before { content: "\e67f"; }

.cjm-icon-theme:before { content: "\e680"; }

.cjm-icon-switch:before { content: "\e681"; }

.cjm-icon-user:before { content: "\e682"; }

.cjm-icon-drop:before { content: "\e683"; }

.cjm-icon-screen-1:before { content: "\e60e"; }

.cjm-icon-screen-full:before { content: "\e60f"; }

.cjm-icon-screen-9:before { content: "\e610"; }

.cjm-icon-screen-4:before { content: "\e612"; }

.cjm-icon-camera:before { content: "\e613"; }

.cjm-icon-video:before { content: "\e614"; }

.cjm-icon-video-disabled:before { content: "\e615"; }

.cjm-icon-screen-16:before { content: "\e628"; }

.cjm-icon-operate:before { content: "\e621"; }

.cjm-icon-more:before { content: "\e622"; }

.cjm-icon-detail1:before { content: "\e623"; }

.cjm-icon-upload:before { content: "\e66e"; }

.cjm-icon-record:before { content: "\e624"; }

.cjm-icon-sunshine:before { content: "\e60d"; }

.cjm-icon-warn:before { content: "\e601"; }

.cjm-icon-revise:before { content: "\e603"; }

.cjm-icon-type:before { content: "\e693"; }

.cjm-icon-drawing:before { content: "\e66f"; }

.cjm-icon-focus-near:before { content: "\e62a"; }

.cjm-icon-aperture-out:before { content: "\e62b"; }

.cjm-icon-focus-far:before { content: "\e62c"; }

.cjm-icon-aperture-in:before { content: "\e62d"; }