<style>
  table, td, th {
    border-collapse: collapse;
    font-size: 9pt;
    font-family: "\u5b8b\u4f53"
  }
</style>
<table>
  <%for(var i = 0;i < 10;i++){%>
  <tr>
    <td><%= i %></td>
    <td><%= i %></td>
    <td><%= i %></td>
  </tr>
  <%}%>
</table>
