<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>list</title>
  <style>
    .main {
      width: 500px;
      border: 1px solid #ddd;
    }

    .row {
      border-bottom: 1px solid #ddd;
      overflow: hidden;
    }

    .row div {
      float: left;
      width: 25%;
    }

    .sp4 {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <h1>用户列表</h1>
  <a href="/addusers">添加用户</a>
  <div class="main">
    <div class="row">
      <div class="sp1">姓名</div>
      <div class="sp2">年龄</div>
      <div class="sp3">爱好</div>
      <div class="sp4">操作</div>
    </div>
    <div class="infolist">

    </div>
    <div class="bottominfo">
      一共:
      <span class="totalcount"></span>条
      <span class="syy">上一页</span>
      <span class="xyy">下一页</span>

    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function () {
      var pageSize = 10;
      var pageNum = 1;

      function getTpl(arr) {
        var htmlStr = '';
        arr.forEach(item => {
          htmlStr += '<div class="row"><div class="sp1">' + item.nickname +
            '</div><div class="sp2">' + item.age + '</div><div class="sp3">' + item.hobby +
            '</div><div class="sp4" data-id="' + item.userId+ '">删除</div></div>'
        });
        return htmlStr;
      };

      function getList(pageSize, pageNum) {
        $.ajax({
          type: "get",
          url: "/api/getUserList",
          data: {
            pageSize: pageSize,
            pageNum: pageNum
          },
          dataType: "json",
          success: function (data) {
            console.log(data);
            if (data.resultCode == 200) {
              var rows = data.data.rows;

              $('.infolist').html(getTpl(rows));
              $('.totalcount').text(data.total);
            } else {
              alert(data.msg)
            }
          }
        });
      }
      getList(pageSize, pageNum);
      //点击删除
      $('.infolist').on('click', '.sp4', function () {
        var _this = $(this);
        var id = _this.attr('data-id');
        // console.log(id);
        $.ajax({
          type: "get",
          url: "/api/doDelete",
          data: {
            userId: id
          },
          dataType: "json",
          success: function (data) {
            console.log(data);
            if(data.resultCode==200){
              getList(pageSize, pageNum);
            }else{
              alert(data.msg)
            }

          }
        });
      })
    });
  </script>
</body>

</html>