@import "compass/css3";
$base:75;
@import "_var.scss";
html,
body {
    @include wh(100%, 100%);
}

.main {
    @include ba(#fff);
    @include fo(28rem/$base);
    @include co(#c1bcc0);
    .topimg {
        @include block;
        @include wh(100%, 563rem/$base);
    }
    .part {
        display: inline-block;
        width: 32.5%;
        @include te;
        .yy {
            display: inline-block;
            @include border-radius(50%);
            @include ba(#dad7d9);
            @include wh(100rem/$base, 100rem/$base);
            line-height: 100rem/$base;
            @include bs;
            padding-top: 18rem/$base;
            img {
                @include inline-block;
            }
        }
        .yyimg1 {
            @include wh(60rem/$base, 64rem/$base);
        }
        .yyimg2 {
            @include wh(58rem/$base, 58rem/$base);
        }
        .yyimg3 {
            @include wh(58rem/$base, 58rem/$base);
        }
        .yyimg4 {
            @include wh(57rem/$base, 56rem/$base);
        }
        .yyimg5 {
            @include wh(55rem/$base, 60rem/$base);
        }
        .yyimg6 {
            @include wh(65rem/$base, 65rem/$base);
        }
        .text {
            padding-top: 16rem/$base;
            padding-bottom: 28rem/$base
        }
    }
    .active {
        .yy {
            @include ba(#ffb820);
        }
    }
 
    .inputsearch {
        width: 582rem/$base;
        @include mag;
        margin-top: 56rem/$base;
        padding-bottom: 43rem/$base;
    }
    .spart {
        @include wh(100%, 80rem/$base);
        @include te;
        @include ba(#ffb820);
        @include co(#fff);
        @include fo(28rem/$base);
        @include li(80rem/$base);
        @include border-radius(8rem/$base);
    }
    .footerlct {
        @include te;
        @include fo(22rem/$base);
        @include co(#333);
        div {
            padding-bottom: 17rem/$base;
        }
    }
    .ppwrap {
        @include none;
    }
    .inputsearch {
        .active {
            @include block;
        }
    }
}

.mask {
    @include none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.6);
    .msgbox {
        @include p_center;
        width: 580rem/$base;
        @include ba(#fff);
        @include border-radius(10rem/$base);
        @include fo(32rem/$base);
        padding-top:20rem/$base;
        .btn {
            @include li(90rem/$base);
            @include fo(38rem/$base);
            @include te;
            @include co(#009FF2);
            border-top: 1px solid #ccc;
            margin-top:20rem/$base;
        }
        .errmsg {
          
            @include te;
            @include co(#666);
            padding:10rem/$base 0;
        }
        .ptitle{@include te;}
        .reg{padding-left:45rem/$base;padding-right:45rem/$base;line-height: 1.5;@include fo(36rem/$base);padding-top:30rem/$base;padding-bottom:20rem/$base;}
        .smnr{color:orange;}
        .hide{@include none;}
    }
}
.ipart {
    input {
        @include block;
        @include wh(100%, 80rem/$base);
        @include bs;
        padding: 29rem/$base 21rem/$base;
        @include fo(21rem/$base);
        @include co(#000);
        @include border-radius(8rem/$base);
        @include ba(#e6e6e6);
        border: none;
        outline: none;
    }
    margin-bottom:40rem/$base;
}
#mainbodyregister{
    .register{width:80%;@include mag;padding-top:50rem/$base;}
    .hide{
        @include none;
    }
    .spart {
        @include wh(100%, 80rem/$base);
        @include te;
        @include ba(#ffb820);
        @include co(#fff);
        @include fo(28rem/$base);
        @include li(80rem/$base);
        @include border-radius(8rem/$base);
    }
}
.msg {
    @include none;
    position: fixed;
    @include border-radius(10rem/$base);
    @include co(#fff);
    background: rgba(0, 0, 0, 0.6);
    @include p_center;
    padding: 25rem/$base;
    z-index: 5;
    @include fo(28rem/$base);
}