@import "compass/css3";
$base:75;
@import "_var.scss";
html,
body {
    @include wh(100%, 100%);
}

.main {
    @include fo(24rem/$base);
    @include wh(100%, 100%);
    @include baimg('../images/bg02.png');
    @include pr;
    .yuanwrap {
        @include wh(658rem/$base, 661rem/$base);
        @include baimg('../images/yuan1.png');
        @include po;
        left: 50%;
        margin-left: -329rem/$base;
        top: 290rem/$base;
        z-index: 2;
        @include bs; // padding-top:47rem/$base;
        // padding-left:47rem/$base;
    }
}

ul,
ol {
    list-style-type: none;
}

select,
input,
img,
select {
    vertical-align: middle;
}

input {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #c00;
    text-decoration: none;
}

.clear {
    clear: both;
}

.ppc {
    @include p_center;
}

#wheelcanvas {
    @include border-radius(50%);
}

.pointer {
    @include p_center;
    @include wh(223rem/$base, 258rem/$base);
}

.loginmain {
    padding-left: 50rem/$base;
}

.ipart {
    height: 80rem/$base;
    @include ov;
    @include fo(34rem/$base);
  margin-top:50rem/$base;
    span {
        @include float;  margin-top:18rem/$base;padding-right:10rem/$base;
        
    }
    input {
        @include float();
        @include block;
        @include wh(65%, 70rem/$base);
        @include bs;
        padding: 29rem/$base 21rem/$base;
        @include fo(21rem/$base);
        @include co(#000);
        @include border-radius(8rem/$base);
        @include ba(#e6e6e6);
        border: none;
        outline: none;
    }
    margin-bottom:40rem/$base;
}
.spart {
    @include wh(85%, 80rem/$base);
    @include te;
    @include ba(#ffb820);
    @include co(#fff);
    @include fo(28rem/$base);
    @include li(80rem/$base);
    @include border-radius(8rem/$base);
}